@import "../../scss/variables";

@media screen and (min-width: $ipad) {
    .featured-films-list-wrapper {
        flex-wrap: nowrap;
        .featured-film-info {
            width: 25%;
        }
    }
}
