@import "../../../scss/variables";

@media screen and (min-width: $ipad) {
    .login-form-container {
        max-width: 50%;
        height: auto;
        border-radius: $border-radius;
        background-color: white;
    }
}
