@import "../../scss/variables";

.btn {
    border: 0;
    padding: 0 1rem;
    font-size: 1rem;
    height: fit-content;
    width: auto;
    padding: 0.5rem 1rem;
    font-weight: 500;
    border-radius: $border-radius;
    cursor: pointer;
}

.login-btn {
    background: $main-blue-color;
    color: white;
    border-radius: $btn-border;
}

.signup-btn-hidden {
    position: absolute;
    background: $main-pink-color;
    color: white;
    display: none;
    border-radius: $btn-border;
}

.signup-btn-normal {
    position: relative;
    background: $main-pink-color;
    color: white;
    border-radius: $btn-border;
}

.search-btn {
    background: $main-blue-color;
    color: white;
}

.modal-btn {
    margin-bottom: 1rem;
}

.warning-btn {
    background-color: red;
    color: white;
}
