@import "../../scss/variables";

.btn {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: $border-radius;
}
.login-btn {
    background: var(--main-blue-color);
    color: white;
    border: 0;
}

.search-btn {
    background: var(--main-blue-color);
    color: white;
    border: 0;
}
