@import "../../../scss/variables";

.top-level-category {
    padding: 1rem;
    border-bottom: $border;
    display: flex;
    justify-content: space-between;
    transition: 1s;
}

.highlighted {
    color: var(--main-blue-color);
    transition: 1s;
}
