@import "../../scss/variables";
.features-options-wrapper {
    width: 100%;
    > ul {
        display: flex;
        list-style: none;
        width: 100%;
        border-bottom: $border;
        > li {
            display: flex;
            width: 100%;
            font-size: 1.5rem;
            border-bottom: 3px solid white;
        }
        > li:hover {
            border-bottom: 3px solid $main-blue-color;
            cursor: pointer;
        }
    }
    .feature-icon-wrapper {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .feature-text-wrapper {
        width: 80%;
        padding: 0.8rem;
    }
}
