@import "../../scss/variables";

.forum-wrapper {
    width: 90%;
    margin-bottom: 2rem;
    .forum-title {
        background-color: white;
        border-radius: $border-radius;
        padding: 2rem 1rem;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .forum-posts-wrapper {
        background-color: white;
        border-radius: $border-radius;
        padding: 1rem;
    }

    .forum-post {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: $border;
        &-user {
            margin: 1rem;
            display: flex;
            align-items: center;
            height: 2rem;
            > img {
                max-width: 100%;
                max-height: 100%;
                border-radius: 100%;
            }
            > p {
                padding-left: 1rem;
            }
        }
        &-category {
            background-color: var(--box-color-tag);
            width: fit-content;
            padding: 0.2rem 1rem;
            color: var(--main-blue-color);
            margin: 1rem;
        }

        &-count {
            display: flex;

            &-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 4rem;
                text-align: center;
                padding: 0 1rem;
                margin-right: 1rem;
                background-color: var(--box-color);
                > p {
                    padding-bottom: 0.5rem;
                }
            }
        }
    }
}
