@import "../../../scss/variables";
.hero-background {
    background-image: linear-gradient(to left, rgba($main-pink-color, 1), rgba($main-blue-color, 1));
    // background-image: url("../../../assets/hero-cover.jpg");

    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.hero-wrapper {
    color: white;
    text-align: center;

    > h1 {
        font-size: 1.5rem;
        line-height: 3rem;
        padding: 0 2rem;
        padding-top: 3rem;
    }

    > h2 {
        font-size: 1rem;
        line-height: 2rem;
        padding-bottom: 2rem;
        padding-top: 1rem;
    }
}
