@import "../../../../scss/variables";

.top-level-category {
  padding: 1rem;
  border-bottom: $border;
  display: flex;
  justify-content: space-between;
}

.highlighted {
  color: $main-blue-color;
  cursor: pointer;
}

// .position-relative {
//   position: relative;
// }
