.nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropDownBtn {
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    border: 0.1px solid rgb(0, 0, 0, 0.2);
}

.searchBtn {
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    border-radius: 100%;
    background-color: var(--main-blue-color);
}
