// .content-container{
//     position:relative;
//     display:flex;
//     flex-direction: column;
//     align-items: center;
// }

.loading-is-true {
  position: fixed;
  background: red;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0.5;
}
