@import "../../../scss/variables";

@media screen and (min-width: $laptop) {
    .header-wrapper {
        width: 90%;
    }
    .header-logo-wrapper {
        > a {
            justify-content: flex-start;
            align-items: center;
        }
    }
}
