@import "../../../scss/variables";

.header-wrapper {
    width: 100%;
    background: $main-bg-color;
    display: flex;
    justify-content: space-between;
}

.header-logo-wrapper {
    width: 60%;
    > a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        border: none;
    }
    .header-logo {
        max-width: 80%;
        max-height: 60%;
    }
}

.header-btn-wrapper {
    width: 40%;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}
