@import "./scss/variables";
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
}
