//LND font
:root {
    font-family: "Quicksand", sans-serif;
    a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }
}

// Responsive Width Global Var
$laptop: 992px;
$ipad: 768px;
$mobile: 500px;

//LND Color Pallete
$main-pink-color: #7347c1;
$main-blue-color: #0773ea;

$main-bg-color: rgb(238, 241, 243);
$main-white-transparent-color: rgb(255, 255, 255, 0.5);

//footer colors

$footer-first-color: rgb(25, 32, 39);
$footer-second-color: rgb(37, 43, 48);

//box-color
$box-color: rgb(239, 241, 245);
$box-color-tag: rgb(237, 245, 254);
//BORDERS
//Default border radius
$border-radius: 0.5rem;

//Trim border
$border: 0.1px solid rgb(0, 0, 0, 0.2);

.container {
    width: 90%;
}

//Margins
$component-margin-bottom: 2rem;

//transition
$transitionTimer: 0.5s;
