@import "../../scss/variables";

.header-wrapper {
    width: 100%;
    background: var(--main-bg-color);
    display: flex;
    justify-content: space-between;
}

.header-logo-wrapper {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    .header-logo {
        max-width: 80%;
        max-height: 60%;
    }
}

.header-btn-wrapper {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
