@import "../../scss/variables";

.features-games-wrapper {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0 2rem;
  border-radius: $border-radius;

  .feature-item-list-wrapper {
    margin: 2rem 0;
  }
  .featured-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border-bottom: $border;
    > img {
      max-width: 100%;
      max-height: 100%;
    }
    > h3 {
      margin: 1rem;
    }

    > p {
      margin: 1rem 0;
      line-height: 1.5rem;
    }
    .featured-item-category {
      font-style: italic;
    }
  }
}
